@{
    ViewBag.Title = "CMS Homepage";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

@section featured {
    @*== List of Features ==*@
    <ul class="cmsfeatures">
        <li><a href="#"><img src="~/Images/CMS/newspaper1.png" /><p>News Feed</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/youtube7.png" /><p>Youtube Gallery</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/giftbox.png" /><p>Gift Shop</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/call37.png" /><p>Departments and Services</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/person302.png" /><p>OR Status</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/drugs5.png" /><p>Prescription Refill</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/surgeon1.png" /><p>Find Physician</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/calendar146.png" /><p>Calendar</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/business53.png" /><p>Resources</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/appointment.png" /><p>Appointments</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/clock136.png" /><p>ER Time</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/business139.png" /><p>Contact Page</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/job-search1.png" /><p>Job Posting</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/eco28.png" /><p>Volunteer Posting</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/stethoscope1.png" /><p>Health Gallery</p></a></li>
        <li><a href="#"><img src="~/Images/CMS/man412.png" /><p>Patient History</p></a></li>
    </ul>

    }
