@{
    ViewBag.Title = "Facilities";
}

<h2>Facilities</h2>
<h3>Sections</h3>

<ul id="main_menu_item_page">
    <li class="item_page_link">@Html.ActionLink("Oaks Centre", "dummy", null, new { href = "#" })</li>
    <li class="item_page_link">@Html.ActionLink("SJGH Manor", "dummy", null, new { href = "#" })</li>
 
</ul>
<div id="main_item_photo">
    <img src="~/Images/doctor_patient.png" width="400" height="293" alt="doctor and patient" />
</div>
<div class="clear"></div>

@section Scripts{
    @Scripts.Render("~/Scripts/custom/menu_item_list.js")
}
